body {
	font-family: 'Montserrat', sans-serif;
	color: #464e53;
	font-size: 14px;
}

a {
	outline: none;
}
.logo__img{
	background: url(../images/icons/logo_bright.svg) no-repeat;
	height: 64px;
	width: 64px;
	display: block;
}
.header__info {
	border-bottom: 1px solid #e2ebf0;
}
.header__logo {
	margin-bottom: 8px;
}
.logo_text__span {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
}
.logo_text_span__emphasized {
	color: #dc2843;
}

.logo__text {
	padding-left: 0;
}

.description__span {
	font-style: italic;
	font-size: 20px;
	line-height: 22px;
	font-weight: 500;
}

.header__descriptor {
	padding-right: 62px;
}

.header__contacts {
	font-size: 13px;
}

.contacts_phone__link {
	color: #464e53;
	font-weight: 500;
	font-size: 16px;
}

.header__contacts > span {
	padding: 0;
}

.header_contacts__address {
	font-weight: 100;
	line-height: 10px;
}

.header_contacts__place {
	line-height: 15px;
}

.header_info__row {
	margin-right: 25px;
	margin-left: 25px;
}

.header__logo {
	margin-bottom: 8px;
}

.header_menu__list {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: 25px;
	margin-right: 25px;
}

.header_menu_link {
	color: #464e53;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 24px 0;
	display: block;
}

.header {
	box-shadow: 0px 7px 14px 1px rgba(144, 144, 144, 0.1);
}
.advantages {
	margin-top: 32px;
	margin-left: 25px;
	margin-right: 25px;
}

.advantages__icon {
	height: 28px;
	text-align: center;
}

.advantages__item:nth-child(1) .advantages__icon {
	background: url(../images/icons/sale_70.svg) no-repeat center;
}

.advantages__item:nth-child(3) .advantages__icon {
	background: url(../images/icons/stars.svg) no-repeat center;
}

.advantages__item:nth-child(5) .advantages__icon {
	background: url(../images/icons/chair_bed.svg) no-repeat center;
}

.advantages__text {
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	padding-top: 4px;
}

.advantages_icon__text {
	font-size: 22px;
	font-weight: 600;
	color: rgba(70, 78, 83, 0.6);
	position: relative;
}

.advantages_icon__text.up:after {
	content: attr(data-after);
	font-size: 12px;
	position: absolute;
	margin-top: 1px;
}

.container {
	padding: 0;
	max-width: 1224px;
}

.banners__container {
	padding: 0 15px;
}

.banners {
	padding-top: 24px;
}

.banners > div:not(.carousel) {
	padding: 0;
	margin: 0;
}
.banners__img {
	width: 100%;
	height: 100%;
}
.banners__col.row {
	background: #ffffff;
	margin: 0 11px !important;
}
.banner__inner_col {
	padding: 0;
}
.banner__inner_col:nth-child(1) {
	margin-bottom: 12px;
}
.banner__inner_col:nth-child(2) {
	margin-top: 12px;
}
.product_category {
	padding: 0;
	margin: 0;
}
.product__item {
	border: 1px solid #e2ebf0;
	border-right: 0;
	padding-top: 16px;
	padding-bottom: 24px;
	border-bottom: 0;
}
.product__item:nth-child(4n+4) {
	border-right: 1px solid #e2ebf0;
}
.product__image {
	height: 310px;
	display: block;
}
.product__item img, .news__wrap_img img {
	max-width: 100%;
	max-height: 100%;
}
.product_colors__item {
	width: 8px;
	height: 8px;
	display: inline-block;
	border: 1px solid #e2ebf0;
	border-radius: 50%;
}
.product_title__a {
	color: #3757D0;
}
.product_prices__old .product_price {
	color: rgba(70, 78, 83, 0.75);
	font-weight: 500;
	position: relative;
}
.product_prices__new .product_price {
	font-weight: 500;
	font-size: 21px;
	vertical-align: middle;
}
.product_discount {
	background: #46b93b;
	color: #FFF;
	font-weight: 600;
	padding: 3px 5px;
	margin-left: 8px;
}

.news_col {
	padding: 0;
}
.news_col:nth-child(2) {
	margin: 0 24px;
}
.hover-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.15);
	opacity: 0;
	transition: all 0.5s ease;
}

.news_col:hover .hover-bg {
	opacity: 1;
}

.news_col:hover {
	text-decoration: none;
}

.product_colors__item {
	width: 8px;
	height: 8px;
	display: inline-block;
	border: 1px solid #e2ebf0;
	border-radius: 50%;
}

.product_title__a {
	color: #3757D0;
}

.product_prices__old .product_price {
	color: rgba(70, 78, 83, 0.75);
	font-weight: 500;
	position: relative;
}

.product_prices__old .product_price:after {
	content: '';
	width: 108%;
	height: 1px;
	position: absolute;
	display: block;
	background: rgba(70, 78, 83, 0.48);
	margin: auto;
	top: 0;
	bottom: 0;
	left: -4%;
}

.product_prices__old .product_price:after {}

.product_prices__new .product_price {
	font-weight: 500;
	font-size: 21px;
}

.product_discount {
	background: #46b93b;
	color: #FFF;
	font-weight: 600;
	padding: 3px 5px;
	margin-left: 8px;
}

.product__image {
	height: 310px;
	display: block;
}

.news {
	margin-top: 48px;
	margin-left: 0;
	margin-right: 0;
}

.news__title {
	height: 60px;
}

.news_title__span {
	font-weight: 900;
	color: rgba(70, 78, 83, 0.8);
	font-size: 19px;
}

.news_col:nth-child(1) .news__title {
	background: #D2F495;
}

.news_col:nth-child(2) .news__title {
	background: #BBDEFA;
}

.news_col:nth-child(3) .news__title {
	background: #FFF6A7;
}

.subtitle, .page_title {
	margin-left: 0;
	margin-right: 0;
}

.subtitle h2, .page_title h1 {
	font-size: 19px;
	margin-top: 48px;
}

.subtitle__level-2 h2 {
	font-size: 16px;
}

.product_all, .product_top {
	border-bottom: 1px solid #e2ebf0;
	margin-left: 0px;
	margin-right: 0px;
}

.product_all .product__item {
	border-bottom: 0;
}
.yet {
	text-align: center;
	padding: 16px;
	border: 1px solid #e2ebf0;
	margin-top: 24px;
	margin-bottom: 64px;
}

.yet > a {
	font-size: 18px;
	color: #464e53;
}
.footer {
	background: #464e53;
	color: #fff;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 14px;
	font-weight: 500;
}

.footer__row {
	margin-left: 80px;
	margin-right: 80px;
}

.footer__col > span {
	padding: 0;
}

.footer_contacts__place {
	font-weight: 600;
}

.footer .contacts_phone__link {
	color: #fff;
}

.footer_contacts__address {
	font-size: 13px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

.footer__link_page {
	padding: 0;
	list-style: none;
}
.footer_link_page__item {
	text-align: left;
}

.footer a {
	color: #fff;
}

.page_title h1 {
	margin-bottom: 48px;
	font-size: 20px;
	margin-top: 72px;
}

.content {
	max-width: 940px;
}

.content ul {
	padding-left: 8px !important;
	margin-left: 0;
}

.content li:before {
	content: '';
	width: 6px;
	height: 6px;
	background: #ce171f;
	display: inline-block;
	border-radius: 50%;
	margin: 7px 16px;
	vertical-align: top;
}

.content li {
	padding-bottom: 8px;
}
.text_page{
	margin-bottom: 152px;
}

.modal-dialog {max-width: 700px;}

.modal-title {
	font-size: 23px;
	font-weight: 600;
}

.modal-header {
	border-bottom: none;
}

.modal-dialog .product-afisha {
	max-width: 187px;
	margin: auto;
}

.modal-body {
	max-width: 680px;
	margin: auto;
}

.modal-footer {
	border: none;
	padding: 20px;
}

.modal-dialog .product_img {
	max-height: 100%;
	max-width: 100%;
}

.modal-dialog .product__image {
	height: auto;
	width: 176px;
}

.form_text__p {
	font-weight: 500;
	font-size: 16px;
}
.btn-primary {
	background: #DC2843;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.85);
	padding: 13px 32px;
	margin-top: 16px;
	transition: all 0.5s ease;
}
.btn-primary:hover {
	background: #ca223c;
	color: rgba(255, 255, 255, 0.9);
}

.modal-dialog .col-form-label {
	display: none;
}

.modal-dialog .form-control {
	margin: 29px 0;
	border-radius: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #bdb9b9;
	color: #464e53;
	outline: none;
}
.modal-dialog .form-control::-moz-placeholder,
.modal-dialog .form-control::-webkit-input-placeholder,
.modal-dialog .form-control:-ms-input-placeholder,
.modal-dialog .form-control::-ms-input-placeholder
{
	color: #bdb9b9;
}

select.form-control option:not(disabled) {
	color: #717070;
}
select.form-control option:disabled {
	color: #ccc;
}
.scrollup {
	display: none;
	position: fixed;
	width: 56px;
	height: 56px;
	right: 44px;
	bottom: 16px;
	cursor: pointer;
	transition: all 0.8s ease;
}
.scrollup:hover {
	bottom: 19px;
}
.scrollup svg {
	width: 14px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.scrollup svg .st0 {
	stroke: #fff !important;
}
.scrollup:hover .scrollbg {
	box-shadow: 1px 2px 3px 1px rgba(88, 88, 88, 0.4);
}


.scrollup_arrow {
	width: 56px;
	height: 56px;
	position: absolute;
	bottom: 0;
}

.scrollbg {
	width: 56px;
	height: 56px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	transition: all 0.8s ease-out;
	border: 1px solid transparent;
	position: absolute;
	bottom: 0;
}

@media (max-width: 1199px) {
	.product__image {
		height: 180px;
	}
	.header_menu__item {
		padding: 0 8px;
	}
	.header_menu_link {
		font-size: 12px;
	}
	.logo_text__span {
		font-size: 24px;
	}
	.description__span {
		font-size: 18px;
	}
}
@media (max-width: 991px) {
	.header__mobile .logo__image {
		padding: 0;
	}

	.header__additional_bar {
		height: 64px;
		border-bottom: 1px solid #e1e3e3;
	}

	.header__additional_bar .header__logo:after {
		background: url(../images/icons/row.svg) no-repeat;
	}

	.header__additional_bar .header__logo {
		height: 64px;
		padding-left: 24px;
	}
	.header__logo {
		position: relative;
	}
	.header__info {
		border-bottom: none;
	}

	.header__container {
		position: fixed;
		height: 100%;
		background: #fff;
		z-index: 2;
		top: 0;
		right: 0;
		width: calc(100% - 64px);
		box-shadow: 0px 7px 14px 1px rgba(144, 144, 144, 0.1);
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		transition: transform 0.5s;
	}
	.header.open_menu .header__container {
		-webkit-transform: translate3d(0%, 0, 0);
		-moz-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
	}

	.header__logo:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: url(../images/icons/menu-bar.svg);
		cursor: pointer;
	}
	.header__mobile .logo__text {
		padding-left: 16px;
	}

	.header__info {
		border-bottom: none;
	}

	.header__info, .header__menu {
		padding-left: 32px;
		padding-right: 32px;
	}

	.header_menu__container {
		padding: 0;
		padding-top: 16px;
		padding-bottom: 24px;
	}

	.header_menu__item {
		padding: 0;
	}

	.header_menu_link {
		padding: 8px 0;
	}

	.header__contacts {
		padding-bottom: 34px;
	}
	.banners__col, .banners__col.row {
		padding: 0 4px;
		margin: 0;
		margin-top: 0;
	}
	.banner__inner_col:nth-child(1) {
		margin: 0 0 8px 0;
	}
	.banner__inner_col:nth-child(2) {
		margin: 0;
	}
}
@media (max-width: 767px) {
	.advantages_container {
		overflow-x: auto;
	}
	.advantages {
		min-width: 540px;
	}
	.advantages_icon__text {
		font-size: 17px;
	}
	.advantages__text {
		font-size: 11px;
		line-height: 13px;
	}
	.news_col:nth-child(2) {
		margin: 0;
	}
	.product_top > .product__item {
		border-bottom: 0;
	}
	.product__item:nth-child(2n+2) {
		border-right: 1px solid #e1e3e3;
	}
	.product_top > .product__item:nth-child(4n+2), .product_top > .product__item:nth-child(9) {
		border-right: 1px solid #e1e3e3;
	}
	.news__title {
		max-width: 392px;
		margin: auto;
	}
	.news_col {
		margin-bottom: 8px !important;
	}
}
@media (max-width: 575px) {
	.banners__col.row {
		margin: 0;
		margin-top: 8px;
		padding-right: 8px;
	}
	.banners__col:nth-child(3) {
		margin-top: 8px;
	}
	.footer__row > div {
		padding-top: 8px;
		padding-bottom: 8px;
		margin: 0;
		text-align: center;
	}
	.footer_link_page__item {
		text-align: center;
	}
}